@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300;400;500&display=swap');

:root { 
    --cell-size: minmax(10px, 5vh);
    /* rgb(255, 193, 70) */
    --website-color: rgb(255, 214, 131);
    --labels-border: 0px solid;

    --shogi-table-cell-labels-size: 0px;
    --shogi-table-labels-size: clamp(15px, calc(1vw + 1vh), 20px);
    --captured-piece-count-font-size: clamp(2px, 3vw, 15px);
    /* rgb(47, 33, 6) */
    --shogi-board-color: rgb(102, 52, 6);
    --shogi-cell-color: rgb(47, 33, 6);

    --button-color: rgb(102, 52, 6);
    --button-submit: rgb(69, 36, 5);
}

/* overall game area styling */
body {
    margin: 0px;
    max-height: 100%;
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    background-color: var(--website-color);
}

.promotionFlex {
    margin-top: 1%;
    width: 100%;
    height: minmax(15vh, auto);
    z-index: 100;
    position: absolute;
    top: auto;
    left: auto;
    
    display:flex;
    justify-content: center;
}

#promotionQuestion {
    background-color: rgb(72, 72, 72);
    width: 45vw;
    height: 100%;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
}

#promotionQuestion p {
    padding: 2% 0 0 7%;
    overflow-wrap: break-word;
    color: rgb(201, 201, 201);
}

#pieceButtons {
    display: flex;
    gap: 20%;
    justify-content: center;
    margin: 2vh;
}

#pieceButtons div {
    background-color: rgb(112, 112, 112);
    aspect-ratio: 1;
    border: 2px solid;
    border-color: black;
}

.piece-promote-question { 
    width: 4.5vh;
    aspect-ratio: 1;

    /* opacity: 0.1; */
    z-index: 1;

    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}



.hide { 
    display: none;
}

shogi { 
    display: flex;  
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 100vh; /* controles how spaced things are too in flex wrap */
    overflow: hidden;
    background-color: var(--website-color);
}

shogi-board-and-stands { 
    display: flex;  
    flex-direction: column; 
    align-items: center;
    margin: 2vw;
}

.overlay {
    background-color: black;
    opacity: 0.2;
    z-index: 99;
    width: 100%;
    height: 100%;
    position: absolute;
}

.cell-label {
    position: absolute; 
    top: 0;
    left: 0;
    
    font-size: var(--shogi-table-cell-labels-size);
    color: #444;
    opacity: 0.9;
    z-index: 1;
    /* important */
    pointer-events: none;
    user-select:none;
}

.cell-label-standsorsmthing {
    position:absolute;
    bottom: 0px;
    right: 0px;
    
    /* font-size: 5vw; */
    font-size: 2vw;
    color: #444;
    opacity: 0.9;
    z-index: 0;
    /* important */
    pointer-events: none;
    user-select:none;
}



/* opponent and play piece stands */
piece-stands {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.piece-stands-reverse { 
    flex-direction: column-reverse;
}

far-piece-stand, close-piece-stand 
{ 
    background-color: rgb(102, 52, 6);
    margin: 1vh;
    display: grid;
    grid-template-columns: repeat(7, var(--cell-size));

}


far-piece-stand div,
close-piece-stand div 
{ 
    position: relative;
    aspect-ratio: 1;
    border: 2px solid;
    border-color: black; 
    background-color: rgb(47, 33, 6);
    display: flex;
    justify-content: center;
}

/* too big on small screens */
.stand-piece-count {
    position: absolute; 
    bottom: 0; 
    right: 0;
    z-index: 10;

    font-size: var(--captured-piece-count-font-size);
    opacity: 0.9;
    color: rgb(255, 255, 255);

    border: 3px solid black;
    padding: 0.1vw 0.3vw;
    border-radius: 50%;
    background-color: black;
    
    /* important */
    pointer-events: none;
}

.stand-piece-count-nodisplay {
    display: none;
}

.stand-piece-placeholder { 
    aspect-ratio: 1;
    z-index: 1;
    opacity: 0.2;
}



/* game log properties */
#game-log { 
    display: flex;
    flex-direction: column;
    width: 400px;
}

.game-log-smallscreen-reverse { 
    flex-direction: column-reverse;
}

#farPlayerInfo, #closePlayerInfo { 
    background-color: rgb(55, 39, 0);
    height: 40px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#closePlayerText, #farPlayerText { 
    font-size: 20px;
    color: white;
    padding: 0px 20px;
}

#closePlayerTurnStatus, #farPlayerTurnStatus {
    font-size: 25px;
    color: white;
    padding: 0px 20px;
}

#farPlayerInfo { 
    flex-direction: row-reverse;
}

#farPlayerText, #farPlayerTurnStatus { 
    transform: scale(-1, -1);
    -moz-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -ms-transform: scale(-1, -1);
}

#movesLog { 
    background-color: rgb(114, 64, 14);
    height: 20vh;   
    /* scrollbar-width: none; */
    list-style: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    overflow-y: scroll;
}

::-webkit-scrollbar { 
    width: 10px;
}

::-webkit-scrollbar-track {
    /* Track */
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    /* Handle */
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    /* Handle on hover */
    background: #555;
}

li {
    padding: 2px 10px 2px 10px;
    color: rgb(255, 255, 255);
}




/* general board properties */
.opponent-piece-unclickable { 
    pointer-events: none;
}

.piece { 
    aspect-ratio: 1;
    max-width: 100%;
    width: var(--cell-size);
    height: var(--cell-size);
    /* opacity: 0.1; */
    z-index: 1;

    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.piece-rotate { 
    transform: rotate(180deg);
}

.piece-possible-move-position {
    background-color: #444 !important;
}

.piece-moved { 
    background-color: var(--shogi-cell-color);
    animation: lastPieceMoved 1.5s ease-in-out 0s infinite alternate;
    animation-play-state: running !important;
}

@keyframes lastPieceMoved {
    from {background-color: var(--shogi-cell-color);}
    to {background-color: rgba(117, 185, 81, 0.986);}
}


/* 
 Shogi board with it's columns and outer rows labels 
 */
 #board-and-rows { 
    /* row labels beside the board & columns */
    display: flex;
    flex-direction: row;
    gap: 0px;
    margin-right: -50px;
}

shogi-board-wrapper {
    /* column labels above the board */
    display: grid;
    aspect-ratio:initial;
}

shogi-board { 
    /* columns are row 1 */
    grid-row: 2;
    
    /* 9 shogi piece cells in a row */
    display: grid;
    grid-template-columns: repeat(9, var(--cell-size));
    background-color: var(--shogi-board-color);
    gap: 0;
}

shogi-board div { 
    /* for text */
    position: relative;

    aspect-ratio: 1;
    border: 1px solid black;
    background-color: var(--shogi-cell-color);
    
    display: flex;
    justify-content: center;
}



/*  
 Shogi board rows and columns containers 
 */
.hide-corner-cell { 
    border:none;
}

rows { 
    display: grid;
    grid-template-columns: repeat(1, var(--cell-size));
    height: 100%;
}

rows span { 
    aspect-ratio: 1;
    border: var(--labels-border);    
    
    /* aligning the text */
    display: flex;
    justify-content: left;
    align-items: center;
}

columns {
    /* the board is on row 1 */
    grid-row: 1;
    
    display: grid;
    grid-template-columns: repeat(9, var(--cell-size));
}

columns span { 
    aspect-ratio: 1;
    border: var(--labels-border);    
    
    /* aligning the text */
    display: flex; 
    align-items: flex-end;
    justify-content: center;
}

span { 
    font-size: var(--shogi-table-labels-size);
    overflow: hidden;
}


/* home screen */
.homeScreen { 
    background-color: var(--website-color);
    position: absolute;
    z-index: 101;

    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

header-text { 
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.header, .description { 
    font-family: 'Noto Serif JP', serif;
    font-weight: 500;
}

.header {
    font-size: 40px;
    margin: 0px;
}

.description { 
    font-size: 20px;
}

.collapse-section {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.form-group {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.form-group label{ 
    font-family: 'Noto Serif JP', serif;
    font-weight: 300;
    font-size: 15px;
}

.form-group input, .form-group select, .form-group option, .submit-button { 
    font-family: 'Noto Serif JP', serif;
}

input[type=text], select, .submit-button{ 
    padding: 5px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
}

select { 
    border-radius: 0%;
}

input[type=text]:focus, select:focus {
    border: 2px solid black;
    outline:0;
}

.submit-button { 
    background-color: var(--button-color);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin-bottom: 25px;
}

.submit-button:hover {
    background-color: var(--button-submit);
    outline:0;
}

.game-code-text { 
    font-family: 'Noto Serif JP', serif;
    font-size: 25px;
    color: white;
    padding: 10px;
    user-select: text;
}

.collapsible {
  background-color: var(--button-color);
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 50%;
  border: none;
  text-align: center;
  outline: none;
  font-family: 'Noto Serif JP', serif;
  font-size: 20px;
}

.active, .collapsible:hover {
  background-color: var(--button-submit);
}

.collapse-section {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.collapsible:after {
  content: '+';
  font-size: 20px;
  font-weight: bold;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "−"; 
}



footer { 
    position: absolute;
    bottom: 0;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    z-index: 105;
    width: 100%;
    background-color: var(--shogi-cell-color);
    font-family: 'Noto Serif JP', serif;
}

footer p { 
    padding: 10px;
    width: auto;
    color: white;
}

footer a { 
    color: rgb(174, 174, 174);
}




/* player turn and win box shadow styling */
.turnBorder { 
    box-shadow: 5px 5px 2px 2px rgb(43, 177, 45);
}

.turnBorderOpponent { 
    box-shadow: -5px -5px 2px 2px rgb(43, 177, 45);
}

.winBorder { 
    box-shadow: 11px 11px 2px 2px rgb(53, 147, 56);
}

.winBorderOpponent { 
    box-shadow: -11px -11px 2px 2px rgb(53, 147, 56);
}

.loseBorder { 
    box-shadow: 11px 11px 2px 2px rgb(184, 20, 20);
}

.loseBorderOpponent { 
    box-shadow: -11px -11px 2px 2px rgb(184, 20, 20);
}


/* waiting animation */
.waitingText span {
    font-size: 20px;
    color: white;
    position: relative;
    display: inline-block;
    animation: waviy 2s infinite;
    animation-delay: calc(.1s * var(--i));
}

@keyframes waviy {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-7px)
    }
  }


/* for smaller devices */
@media only screen and (max-width: 770px) {
    shogi { 
        display: flex;  
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items:flex-start;
        height: 100vh; /* controles how spaced things are too in flex wrap */
        overflow: hidden;
        background-color: var(--website-color);
    }
    
    shogi-board-and-stands { 
        display: flex;  
        flex-direction: column; 
        align-items: center;
        margin: 2vw 2vw -20vw 2vw;
    }

    #movesLog { 
        background-color: rgb(114, 64, 14);
        height: 10vh;   
        /* scrollbar-width: none; */
        list-style: none;
        margin: 0;
        padding: 0;
        border-top: 1px solid lightgrey;
        border-bottom: 1px solid lightgrey;
        overflow-y: scroll;
    }

    #game-log { 
        display: flex;
        flex-direction: column-reverse;
        width: 300px;
    }

    footer { 
        position: absolute;
        bottom: 0;
        
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
        z-index: 105;
        width: 100%;
        background-color: var(--shogi-cell-color);
        font-family: 'Noto Serif JP', serif;
    }
    
    footer p { 
        font-size: 7px;
        padding: 2px;
        width: auto;
        color: white;
    }
  }