:root { 
    --cell-size: minmax(10px, 5vh);
    /* rgb(255, 193, 70) */
    --website-color: rgb(255, 214, 131);
    --labels-border: 2px solid;

    --shogi-table-labels-size: clamp(15px, calc(1vw + 1vh), 20px);
    --captured-piece-count-font-size: clamp(2px, 3vw, 15px);

    --shogi-board-color: rgb(102, 52, 6);
    --shogi-cell-color: rgb(47, 33, 6);
}

/* overall game area styling */
body {
    margin: 0px;
    max-height: 100%;
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.promotionFlex {
    margin-top: 1%;
    width: 100%;
    height: minmax(15vh, auto);
    z-index: 100;
    position: absolute;
    top: auto;
    left: auto;
    
    display:flex;
    justify-content: center;
}



#promotionQuestion {
    background-color: rgb(72, 72, 72);
    width: 45vw;
    height: 100%;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
}

#promotionQuestion p {
    padding: 2% 0 0 7%;
    overflow-wrap: break-word;
    color: rgb(201, 201, 201);
}



#pieceButtons {
    display: flex;
    gap: 20%;
    justify-content: center;
    margin: 2vh;
}

#pieceButtons div {
    background-color: rgb(112, 112, 112);
    aspect-ratio: 1;
    border: 2px solid;
    border-color: black;
}

.piece-promote-question { 
    width: 4.5vh;
    aspect-ratio: 1;

    /* opacity: 0.1; */
    z-index: 1;

    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}



.hide { 
    display: none;
}

shogi { 
    display: flex;  
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh; /* controles how spaced things are too in flex wrap */
    overflow: none;
    background-color: var(--website-color);
}

shogi-board-and-stands { 
    display: flex;  
    flex-direction: column; 
    align-items: center;
    margin: 2vw;
}

.overlay {
    background-color: black;
    opacity: 0.2;
    z-index: 99;
    width: 100%;
    height: 100%;
    position: absolute;
}

#overlay h1 { 
    color: red;
    opacity: 1;
}








.cell-label {
    position: absolute; 
    top: 0;
    left: 0;
    
    font-size: var(--shogi-table-labels-size);
    color: #444;
    opacity: 0.9;
    z-index: 1;
    /* important */
    pointer-events: none;
    user-select:none;
}

/* delete */
.cell-label-standsorsmthing {
    position:absolute;
    bottom: 0px;
    right: 0px;
    
    /* font-size: 5vw; */
    font-size: 2vw;
    color: #444;
    opacity: 0.9;
    z-index: 0;
    /* important */
    pointer-events: none;
    user-select:none;
}

/* opponent and play piece stands */
piece-stands {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.piece-stands-reverse { 
    flex-direction: column-reverse;
}

far-piece-stand, close-piece-stand 
{ 
    background-color: rgb(102, 52, 6);
    margin: 1vh;
    display: grid;
    grid-template-columns: repeat(7, var(--cell-size));

}

far-piece-stand { 

}

close-piece-stand { 

}

far-piece-stand div,
close-piece-stand div 
{ 
    position: relative;
    aspect-ratio: 1;
    border: 2px solid;
    border-color: black; 
    background-color: rgb(47, 33, 6);
    display: flex;
    justify-content: center;
}


far-piece-stand div span,
close-piece-stand div span { 
    /* place-self: center;
    border: 2px solid;
    border-color: black;  */
}

/* too big on small screens */
.stand-piece-count {
    position: absolute; 
    bottom: 0; 
    right: 0;
    z-index: 10;

    font-size: var(--captured-piece-count-font-size);
    opacity: 0.9;
    color: rgb(255, 255, 255);

    border: 3px solid black;
    padding: 0.1vw 0.3vw;
    border-radius: 50%;
    background-color: black;
    
    /* important */
    pointer-events: none;
}

.stand-piece-count-nodisplay {
    display: none;
}

.stand-piece-placeholder { 
    aspect-ratio: 1;
    z-index: 1;
    opacity: 0.2;
}


/* game log properties */
#game-log { 
    display: flex;
    flex-direction: column;
    width: 400px;
}

#farPlayerInfo, #closePlayerInfo { 
    background-color: rgb(55, 39, 0);
    height: 40px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#closePlayerText, #farPlayerText { 
    font-size: 20px;
    color: white;
    padding: 0px 20px;
}

#closePlayerTurnStatus, #farPlayerTurnStatus {
    font-size: 25px;
    color: white;
    padding: 0px 20px;
}

#farPlayerInfo { 
    flex-direction: row-reverse;
}

#farPlayerText, #farPlayerTurnStatus { 
    transform: scale(-1, -1);
    -moz-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -ms-transform: scale(-1, -1);
}

#movesLog { 
    background-color: rgb(114, 64, 14);
    height: 200px;
    /* scrollbar-width: none; */
    list-style: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    overflow-y: scroll;
}


::-webkit-scrollbar { 
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

li {
    padding: 2px 10px 2px 10px;
}




/* general board properties */


.opponent-piece-unclickable { 
    pointer-events: none;
}


.piece { 
    aspect-ratio: 1;
    /* opacity: 0.1; */
    z-index: 1;

    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}


.piece-rotate { 
    transform: rotate(180deg);
}

.piece-possible-move-position { 
    background-color: #444;
}



/* 
 Shogi board with it's columns and outer rows labels 
 */
 #board-and-rows { 
    /* row labels beside the board & columns */
    display: flex;
    flex-direction: row;
    gap: 0px;
}

shogi-board-wrapper {
    /* column labels above the board */
    display: grid;
    aspect-ratio:initial;
}

shogi-board { 
    /* columns are row 1 */
    grid-row: 2;
    
    /* 9 shogi piece cells in a row */
    display: grid;
    grid-template-columns: repeat(9, var(--cell-size));
    background-color: var(--shogi-board-color);
    gap: 0;
}

shogi-board div { 
    /* for text */
    position: relative;

    aspect-ratio: 1;
    border: 1px solid black;
    background-color: var(--shogi-cell-color);
    
    display: flex;
    justify-content: center;
}



/*  
 Shogi board rows and columns containers 
 */
.hide-corner-cell { 
    background-color: rgb(79, 79, 79);
    border:none;
}

rows { 
    display: grid;
    grid-template-columns: repeat(1, var(--cell-size));
    height: 100%;
}

rows span { 
    aspect-ratio: 1;
    border: var(--labels-border);    
    
    /* aligning the text */
    display: flex;
    justify-content: left;
    align-items: center;
}

columns {
    /* the board is on row 1 */
    grid-row: 1;
    
    display: grid;
    grid-template-columns: repeat(9, var(--cell-size));
}

columns span { 
    aspect-ratio: 1;
    border: var(--labels-border);    
    
    /* aligning the text */
    display: flex; 
    align-items: flex-end;
    justify-content: center;
}

span { 
    font-size: var(--shogi-table-labels-size);
    overflow: hidden;
}

