:root { 
    --cell-size: minmax(10px, 5vh);
    --website-color: rgb(255, 193, 70);
    --labels-border: 2px solid;
    --shogi-table-labels-size: calc(1vw + 1vh);
}

/* overall game area styling */
body {
    margin: 0px;
    max-height: 100%;
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.promotionFlex {
    margin-top: 1%;
    width: 100%;
    height: minmax(15vh, auto);
    z-index: 100;
    position: absolute;
    top: auto;
    left: auto;
    
    display:flex;
    justify-content: center;
}



#promotionQuestion {
    background-color: rgb(72, 72, 72);
    width: 55%;
    height: 100%;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
}

#promotionQuestion p {
    padding: 2% 0 0 7%;
    color: rgb(201, 201, 201);
}



#pieceButtons {
    display: flex;
    gap: 20%;
    justify-content: center;
    margin: 2vh;
}

#pieceButtons div {
    background-color: rgb(112, 112, 112);
    aspect-ratio: 1;
    border: 2px solid;
    border-color: black;
}


.hide { 
    display: none;
}

shogi { 
    display: flex;  
    flex-direction: column;  
    align-items: center;
    height: 100vh;
    overflow: none;
    background-color: var(--website-color);
}

.overlay {
    background-color: black;
    opacity: 0.2;
    z-index: 99;
    width: 100%;
    height: 100%;
    position: absolute;
}

#overlay h1 { 
    color: red;
    opacity: 1;
}






/* shogi board, rows and columns */
#board-and-rows { 
    display: flex;
    flex-direction: row;
    gap: 0px;
}

shogi-board-wrapper {
    display: grid;
    aspect-ratio:initial;
}

shogi-board { 
    grid-column: 1/2; 
    grid-row: 2;
    
    background-color: rgb(102, 52, 6);
    
    display: grid;
    grid-template-columns: repeat(9, var(--cell-size));
    gap: 0;
}

shogi-board div { 
    position: relative;
    aspect-ratio: 1;
    border: 2px solid;
    border-color: black; 
    background-color: rgb(47, 33, 6);
    display: flex;
    justify-content: center;
}

.cell-label-stands {
    position: absolute; 
    top: 0;
    left: 0;
    
    font-size: var(--shogi-table-labels-size);
    color: #444;
    opacity: 0.9;
    z-index: 1;
    /* important */
    pointer-events: none;
}


/* opponent and play piece stands */
piece-stands {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.piece-stands-reverse { 
    flex-direction: column-reverse;
}

far-piece-stand, close-piece-stand 
{ 
    background-color: rgb(102, 52, 6);
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(7, var(--cell-size));

}

far-piece-stand { 

}

close-piece-stand { 

}

far-piece-stand div,
close-piece-stand div 
{ 
    position: relative;
    aspect-ratio: 1;
    border: 2px solid;
    border-color: black; 
    background-color: rgb(47, 33, 6);
    display: flex;
    justify-content: center;
}


far-piece-stand div span,
close-piece-stand div span { 
    /* place-self: center;
    border: 2px solid;
    border-color: black;  */
}

.stand-piece-count {
    position: absolute; 
    bottom: 0; 
    right: 0;
    z-index: 10;

    font-size: 1.5vw;
    opacity: 0.9;
    color: rgb(255, 255, 255);

    border: 3px solid black;
    padding: 0vw 0.4vw;
    border-radius: 50%;
    background-color: black;
    
    /* important */
    pointer-events: none;
}

.stand-piece-count-nodisplay {
    display: none;
}

.stand-piece-placeholder { 
    width: 5vw;
    aspect-ratio: 1;
    z-index: 1;
    opacity: 0.2;
}



#game-log { 
    background-color: rgb(224, 152, 81);
    height: 5rem;
}






/* general board properties */
.cell-label {
    position:absolute;
    bottom: 0px;
    right: 0px;
    /* font-size: 5vw; */
    font-size: 2vw;
    color: #444;
    opacity: 0.9;
    z-index: 0;
    /* important */
    pointer-events: none;
    user-select:none;
}

.opponent-piece-unclickable { 
    pointer-events: none;
}

.piece { 
    width: 5vw;
    aspect-ratio: 1;
    /* opacity: 0.1; */
    z-index: 1;

    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.piece-rotate { 
    transform: rotate(180deg);
}

.piece-possible-move-position { 
    background-color: #444;
}



/* Shogi board rows and columns containers */
.hide-corner-cell { 
    background-color: red;
    border:none;
}

rows { 
    display: grid;
    grid-template-columns: repeat(1, var(--cell-size));
    height: 100%;
}

rows span { 
    aspect-ratio: 1;
    border: var(--labels-border);    
    
    display: flex;
    justify-content: left;
    align-items: center;
}

columns {
    grid-column: 1/2;
    grid-row: 1;
    
    display: grid;
    grid-template-columns: repeat(9, var(--cell-size));
    align-items: baseline;
}

columns span { 
    aspect-ratio: 1;
    border: var(--labels-border);    
    
    display: flex; 
    align-items: flex-end;
    justify-content: center;
}

span { 
    font-size: var(--shogi-table-labels-size);
    overflow: hidden;
}