/* overall game area styling */
shogi { 
    display: grid;    
    grid-template-columns: 5fr 7fr 5fr;
}

span { 
    font-size:  2vw;
}

/* shogi board, rows and columns */
shogi-board-wrapper {
    display: grid;
    grid-template-columns: 20fr 1fr;
    
    aspect-ratio:initial;
}

columns {
    grid-column: 1/2;
    grid-row: 1;
    gap: 0.1rem;
    
    background-color: red;
    
    display: grid; 
    grid-template-columns: repeat(9, minmax(10px, 100%));
    justify-items: center;
    /*direction:ltr;*/
}

columns span { 
    border: 2px solid;
    border-color: black; 
}

shogi-board { 
    grid-column: 1/2; 
    grid-row: 2;
    
    background-color: rgb(102, 52, 6);
    
    display: grid;
    grid-template-columns: repeat(9, minmax(10px, 1fr));
    gap: 0.1rem;
}

shogi-board div { 
    position: relative;
    aspect-ratio: 1;
    border: 2px solid;
    border-color: black; 
    background-color: rgb(47, 33, 6);
}

top-right-corner { 
    grid-column: 2;
    grid-row: 1;
    
    background-color: purple;

    display: grid; 
    grid-template-columns: repeat(1, minmax(10px, 100%));
}

rows { 
    grid-column: 2;
    grid-row: 2/3;
    
    background-color: green;
    
    display: grid; 
    grid-template-columns: repeat(1, minmax(10px, 100%));
    justify-items: center;
}

rows span { 
    place-self: center;
    border: 2px solid;
    border-color: black; 
}




/* opponent and play piece stands */
opponent-piece-stand,
player-piece-stand 
{ 
    background-color: rgb(102, 52, 6);
    
    display: grid;
    grid-template-columns: repeat(7, minmax(10px, 1fr));
    gap: 0.1rem;
}

opponent-piece-stand { 

}

player-piece-stand { 

}

opponent-piece-stand div,
player-piece-stand div 
{ 
    aspect-ratio: 1;
    border: 2px solid;
    border-color: black; 
    background-color: rgb(47, 33, 6);
}

.cell-label {
    position:absolute;
    bottom: 0px;
    right: 0px;
    font-size: 1vw;
    color: #444;
    opacity: 0.9;
}

.piece { 

}

.piece-rotate { 
    
}