/* overall game area styling */
shogi { 
    display: flex;
    justify-content: center;

}



/* shogi board, rows and columns */
shogi-board-wrapper {
    
}

shogi-board { 

}

shogi-board div { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    
    border: 2px solid;
    border-color: white;
    background-color: black;
}


columns {

}

rows { 

} 



/* opponent and play piece stands */
opponent-piece-stand,
player-piece-stand 
{ 

}

opponent-piece-stand { 

}

player-piece-stand { 

}

opponent-piece-stand div,
player-piece-stand div 
{ 

}
